# backend
server/node_modules/
server/.env

# client and admin client
client/node_modules/
client/dist/
client/.env
admin/node_modules/
admin/dist/
admin/.env

# OS and editor files
.DS_Store
*.log

# Scripts or custom ignores
server/scripts/